@import url("reset.css"); /*Adding the reset stylesheet*/


body{
    background-color: #777;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
}
header{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: rgb(21, 71, 52);
    color: white;
    margin-bottom: 2em;
}

h1{
    font-size: x-large;
    padding-top: 2em;
    font-weight: 700;
}

a{
    text-decoration: none;
}

footer{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content:center;
    flex-grow: 1;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
    flex-direction: column;
    justify-self: stretch;
    flex-grow: 1;
}

.startnend{
    background-color: #B15533;
    padding: 2em;
    border: .5em solid black;
    border-radius: 2em;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.start,.end,.submit{
    padding: .5em;
    color: white;
    text-shadow: 0.1em 0px 1px #333;
    margin: .2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self:stretch;
}

.buttons{
    border: .2em double #000;
    margin: .5em;
}

button:hover{
    cursor:pointer;
}

.startnend input,.buildingselector select{
    border: .2em solid black;
    border-radius: .5em;
    padding: .5em;
    font-weight: 500;
    text-align: center;
    margin-top: .5em;
}

.linksnsocial{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:2em;
    background-color: #B15533;
    padding-bottom: .5em;
    border: .5em solid black;
    border-radius: 2em;
    margin: 1em;
    flex-grow: 1;
    align-items: flex-end;
}

.buildingselector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2em;
    background-color: #B15533;
    padding-bottom: .5em;
    border: .5em solid black;
    border-radius: 2em;
    margin: 1em;
}

ul,p{
    list-style:disc;
    padding:1.5em;
}

section.links ul li{
    padding:.4em
}
ul li{
    padding:.2em
}


section a, section h2, .wrapper h2{
    color: white;
    text-decoration: none;
    text-align: center;
}

section h2, .wrapper h2{
    font-size: larger;
    font-weight: 600;
}

section i{
    padding: .5em;
}

.navmain{
    display: flex;
    flex-grow: 1;
}

nav{
    justify-content: flex-start;
    background-color: #fff;
    border: .5em solid black;
    padding: 1em;
    border-radius: 2em;
    margin-left: .3em;
}

nav a{
    color: #000;
    text-decoration: none;
    text-align: center;
}
