@import url("reset.css"); /*Adding the reset stylesheet*/

html{
    height: 100%;
}

body{
    background-color: #444;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    font-family:"museo-sans","Arial";
}
 
header{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: rgb(21, 71, 52);
    color: white;
} 

h1{
    font-size: x-large;
    padding-top: 2em;
    font-weight: 700;
}

footer{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
    flex-direction: column;
    justify-self: stretch;
    flex-grow: 1;
}

form{
    display: flex;
    background-color: #B15533;
    padding: 2em;
    border: .5em solid #fff;
    border-radius: 0.1em;
    width: 70%;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

#createnode{
    display: flex;
}

#createnode div{
    padding: 0.3em;
}

#noderesults label{
    display: inline-block;
    padding: 0.1em;
}

li{
    list-style: none;
}

i{
    padding: .2em;
}

.start,.end,.submit{
    padding: .5em;
    color: white;
    text-shadow: 0.1em 0px 1px #333;
    margin: .2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self:stretch;
}

select{
    padding: .5em;
    color: #000;
    margin: .2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self:stretch;
}

button{
    border: .2em double #000;
    background-color: rgb(21, 71, 52);
    color: white;
    margin: .5em;
    padding: .5em;
    min-width: 20em;
    font-weight: 600;
    font-size: large;
}

button a{
    color: white;
}

button:hover{
    cursor:pointer;
}

.seprate{
    border-right: .25em solid #fff;
    padding-right: 2em;
}

.startnend input,.buildingselector select,form input{
    border: .2em solid black;
    border-radius: .5em;
    padding: .5em;
    font-weight: 500;
    text-align: center;
    margin-top: .5em;
}

.linksnsocial{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(21, 71, 52);
    padding-left: 7em;
}

.buildingselector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul li, ol li{
    padding:.2em
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2em;
    background-color: #B15533;
    padding-bottom: .5em;
    margin: 1em;
    border: .5em solid #fff;
    border-radius: 0.1em;
    color: #fff;
}

.wrapper li a, .wrapper li i{
color: #fff;
text-shadow: 0.1em 0px 1px #333;
padding: 0.2em;
}

.wrapper h2{
    padding: 0.5em;
}

table,th,td{
    border: 2px solid #fff;
    padding: 0.2em;
}

th{
    color: #fff;
    text-align: center;
    font-weight: 700;
}

tr{
    padding: 1em;
}

table a, table a:hover{
    color: #fff;
    cursor: pointer;
}

ul,p{
    list-style:disc;
    padding:1.5em;
}

section.links ul li{
    padding:.4em
}

#foot{
    display: flex;
    align-content: center;
}

#foot div{
    padding-right: 2em;
}

footer ul{
    padding: 0.5em;
}

#socials{
    display: flex;
    align-content: center;
}

section a, section h2, .wrapper h2, ul.wrapper li a, form h2{
    color: white;
    text-decoration: none;
}

section h2, .wrapper h2, form h2{
    font-size: larger;
    font-weight: 600;
}

section i{
    padding: .5em;
}

.navmain{
    display: flex;
    flex-grow: 1;
}

nav{
    justify-content: center;
    background-color:#B15533;
    width: max-content;
    padding: 0;
    min-height: 100%;
    font-family: "museo-sans","Arial";
}

nav a{
    color: #fff;
    text-decoration: none;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 1em;
    padding-top: 2em;
}

nav li{
    padding-bottom: 1.5em;
    color: #fff;
}

#navmenu{
    display: flex;
    color: #fff;
    font-family: "museo-sans";
}

.fa-solid.fa-trash:hover{
cursor: pointer;
}

.hidden{
    display: none;
}

.error{
    color: red;
}

a{
    text-decoration: none;
}

.route li{
    padding: 1em;
}